In [17]:
import pandas as pd

In [18]:
df = pd.read_csv("StudentsPerformance.csv")
df.head()

   Math_Score  Reading_Score  Writing_Score  Placement_Score  Club_Join_Date
0          65             86             67               78            2021
1          64             85             71               80            2019
2          76             77             77               84            2021
3          80             76             75               75            2021
4          63             91             62               90            2019

## Math_Score ustunidan index sifatida foydalanib sortlansin.

In [19]:
math = df.set_index("Math_Score").sort_index()
math

            Reading_Score  Writing_Score  Placement_Score  Club_Join_Date
Math_Score
62                     89             61               76            2019
62                     77             67               78            2021
63                     83             70               81            2019
63                     91             62               90            2019
64                     83             60               84            2021
64                     75             68               75            2021
64                     78             80               84            2019
64                     85             71               80            2019
65                     86             67               78            2021
66                     88             62               84            2018
68                     90             66               83            2019
68                     85             72               89            2019
69                     80             73               87            2021
69                     82             60               93            2021
69                     85             66               78            2019
71                     95             60               95            2020
72                     82             61               95            2019
72                     82             76               79            2020
73                     95             62               79            2020
73                     80             73               75            2020
74                     90             60              100            2019
74                     84             80               79            2019
75                     81             76               95            2019
75                     83             76               83            2019
75                     75             80               89            2021
75                     92             62               97            2020
76                     77             77               84            2021
77                     82             62               87            2021
80                     76             75               75            2021
80                     83             64               80            2020

## Raqamli indexga qaytarilsin

In [20]:
math.reset_index()

    Math_Score  Reading_Score  Writing_Score  Placement_Score  Club_Join_Date
0           62             89             61               76            2019
1           62             77             67               78            2021
2           63             83             70               81            2019
3           63             91             62               90            2019
4           64             83             60               84            2021
5           64             75             68               75            2021
6           64             78             80               84            2019
7           64             85             71               80            2019
8           65             86             67               78            2021
9           66             88             62               84            2018
10          68             90             66               83            2019
11          68             85             72               89            2019
12          69             80             73               87            2021
13          69             82             60               93            2021
14          69             85             66               78            2019
15          71             95             60               95            2020
16          72             82             61               95            2019
17          72             82             76               79            2020
18          73             95             62               79            2020
19          73             80             73               75            2020
20          74             90             60              100            2019
21          74             84             80               79            2019
22          75             81             76               95            2019
23          75             83             76               83            2019
24          75             75             80               89            2021
25          75             92             62               97            2020
26          76             77             77               84            2021
27          77             82             62               87            2021
28          80             76             75               75            2021
29          80             83             64               80            2020

## Writing_Scor ustuni 72 va 80 ga tenglar haqida ma'lumot chiqarilsin

In [21]:
df[df['Writing_Score'].isin([72, 80])]

    Math_Score  Reading_Score  Writing_Score  Placement_Score  Club_Join_Date
9           68             85             72               89            2019
10          64             78             80               84            2019
14          74             84             80               79            2019
23          75             75             80               89            2021

## Loc orqali indexlar haqida ma'lumot olinsin

In [22]:
df.loc[[10, 29]]

    Math_Score  Reading_Score  Writing_Score  Placement_Score  Club_Join_Date
10          64             78             80               84            2019
29          72             82             61               95            2019

## Biror ustunni set_index funksiyasi orqali indexga qo'yilsin.

In [28]:
wr = df.set_index(["Writing_Score", "Reading_Score"])
print(wr)

                             Math_Score  Placement_Score  Club_Join_Date
Writing_Score Reading_Score
67            86                     65               78            2021
71            85                     64               80            2019
77            77                     76               84            2021
75            76                     80               75            2021
62            91                     63               90            2019
              95                     73               79            2020
76            82                     72               79            2020
62            82                     77               87            2021
60            90                     74              100            2019
72            85                     68               89            2019
80            78                     64               84            2019
76            83                     75               83            2019
61            89                     62               76            2019
73            80                     69               87            2021
80            84                     74               79            2019
66            85                     69               78            2019
68            75                     64               75            2021
76            81                     75               95            2019
73            80                     73               75            2020
62            92                     75               97            2020
60            82                     69               93            2021
66            90                     68               83            2019
62            88                     66               84            2018
80            75                     75               89            2021
64            83                     80               80            2020
60            95                     71               95            2020
70            83                     63               81            2019
67            77                     62               78            2021
60            83                     64               84            2021
61            82                     72               95            2019

## Loc dan foydalanib 10 dan 20 gacha ekementlarni chiqaring.

In [29]:
df.loc[10:20]

    Math_Score  Reading_Score  Writing_Score  Placement_Score  Club_Join_Date
10          64             78             80               84            2019
11          75             83             76               83            2019
12          62             89             61               76            2019
13          69             80             73               87            2021
14          74             84             80               79            2019
15          69             85             66               78            2019
16          64             75             68               75            2021
17          75             81             76               95            2019
18          73             80             73               75            2020
19          75             92             62               97            2020
20          69             82             60               93            2021